%p
  = f.label :title, 'Título descriptivo'
  %br
  = f.text_field :title, :size => 140

%p
  = f.label :description, "Descripción"
  %br
  = f.text_area :description, :rows => 5, :cols => 140

%p
  = f.label :code, 'Código en R'
  %br
  = f.text_area :code, :rows => 20, :cols => 104, :class => 'code'