#conmenu
  %h1 C칩digo R
  #actions
    - if can? :create, Snippet
      = link_to 'A침adir trozo de c칩digo', new_snippet_path, :class => 'button'


#snippets
  - @snippets.each do |snippet|
    %div.snippet{:id => "snippet-#{snippet.id}"}
      %span.date= "creado por #{snippet.user.username} hace #{distance_of_time_in_words(Time.now, snippet.created_at)}"
      %span.title= link_to snippet.title, snippet_path(snippet)
      %span.description= truncate_snippet(snippet.description, 50)

= will_paginate @snippets
=# will_paginate_entries(@snippets, :entry_name => 'c칩digo')
