%h1 Código R

/ - if can? :create, Snippet
/   = link_to 'New snippet', new_snippet_path

#snippets
  - @snippets.each do |snippet|
    %div.snippet{:id => "snippet-#{snippet.id}"}
      %span.date= "creado por #{snippet.user.username} hace #{distance_of_time_in_words(Time.now, snippet.created_at)}"
      %span.title= link_to snippet.title, snippet_path(snippet)
      %span.description= truncate_snippet(snippet.description, 50)