%h1 New Snippet

= form_for @snippet do |f|

  = f.label :description
  = f.text_area :description

  = f.label :code
  = f.text_area :code

  = f.submit 'Create'

= link_to 'Back to Snippets', snippets_url