- content_for :title, @snippet.title

- uv_theme = 'cobalt'

- content_for :stylesheets do
  = stylesheet_link_tag "uv/#{uv_theme}", :media => 'all', :cache => true

#snippet
  %h1.title= @snippet.title

  #description
    = simple_format @snippet.description

  #code
    #highlight_code
      - cache do
        = parse_uv(@snippet.code, uv_theme)

    #metainfo
      = image_tag avatar_url(@snippet.user)
      %span.author= "Creado por #{@snippet.user.try(:username)}"
      %span.date= "hace #{distance_of_time_in_words(Time.now, @snippet.created_at)}"
      .menu
        %h2 Acciones
        = link_to 'Descargar código .R', snippet_path(@snippet, :format => :R)
        - if user_signed_in?
          =# link_to 'Añadir a favoritos', edit_snippet_path(@snippet)
          - if can? :update, @snippet
            = link_to 'Modificar', edit_snippet_path(@snippet)
          - if can? :destroy, @snippet
            = link_to 'Eliminar', @snippet,  :confirm => '¿Estás seguro?', :method => :delete
        = link_to 'Volver a listado', snippets_url
      .menu
        %h2 Social
        = link_to 'Facebook', "http://www.facebook.com/share.php?u=#{snippet_url(@snippet)}", :target => "_blank"
        = link_to 'Twitter', "http://twitter.com/home?status=#{snippet_url(@snippet)}", :target => "_blank"
      / #back
      /   = link_to 'Volver a Código-R', snippets_url, :class => 'back'