- content_for :title, "Recuperar contraseña"

%h1 Recuperación de contraseña
= devise_error_messages!

#registrations
  #form
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      %p
        = f.label :email, 'Correo electrónico'
        %br
        = f.text_field :email

      #buttons
        = f.submit 'Regenerar contraseña'

  #metainfo
    = render :partial => "devise/shared/links"
