%h1 Usuarios registrados

#registrations
  #form
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      %p
        = f.label :username, 'Usuario'
        %br
        = f.text_field :username

      %p
        = f.label :password, 'Contraseña'
        %br
        = f.password_field :password

      #buttons
        = f.submit 'Acceder'

  #metainfo
    = render :partial => "devise/shared/links"