%p
  = f.check_box :telecommute
  = f.label :title, 'Teletrabajo'

%p
  = f.label :job_type_id, 'País de trabajo:'
  = f.collection_select(:country_id, Country.all(:order => 'name ASC'), :id, :name, {:prompt => '----'})

%p
  = f.label :job_type_id, 'Tipo de trabajo:'
  = f.collection_select(:job_type_id, JobType.all(:order => 'name ASC'), :id, :name)

%p
  = f.label :title, 'Título descriptivo de la oferta'
  %br
  = f.text_field :title, :size => 95, :class => 'title'

%p
  = f.label :company, 'Companía'
  %br
  = f.text_field :company, :size => 140

%p
  = f.label :description, "Descripción"
  %br
  = f.text_area :description, :rows => 25, :cols => 138
