#isotipo
  = image_tag('isotipo.png')

#menus
  .info
    %ul
      %li= link_to 'R-Hispana'
      %li= link_to 'Preguntas Frecuentes'
      %li= link_to 'Comunidad'

  .info
    %ul
      %li= link_to '@rhispana', 'http://twitter.com/rhispana', :target => "_blank"
      %li= link_to 'Facebook'
      %li= link_to 'Lista de correo'

