#isotipo
  = image_tag('isotipo.png')

#menus
  .info
    %ul
      %li= link_to 'Síguenos en twiiter (@r-es)', 'http://twitter.com/r-es', :target => "_blank", :title => 'Seguir a @rhispana'
      %li= link_to 'Lista de correo', '#'
  .info
    %ul
      %li= link_to 'R-es', '/about', :title => 'R-Hispana'
      %li= link_to 'Preguntas Frecuentes', '/faq', :title => 'Ir a preguntas frecuentes'
      %li= link_to 'Comunidad', '/community', :title => 'Comunidad R-Project'



