-# Grab Google CDN's jQuery
- if defined?(google_api_key) && !google_api_key.blank?
  = javascript_include_tag "http://www.google.com/jsapi?key=#{google_api_key}"
  :javascript
    google.load("jquery", "1.4.4");
- else
  = javascript_include_tag "#{request.protocol}ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"

-# fall back to local jQuery if necessary
:javascript
  !window.jQuery && document.write('#{escape_javascript(javascript_include_tag "jquery-1.4.2.min")}')
  
= javascript_include_tag 'rails', :cache => true

/[if lt IE 7 ]
  = javascript_include_tag 'dd_belatedpng'

=# javascript_include_tag :all
-#  Append your own using content_for :javascripts
= yield :javascripts

-# yui profiler and profileviewer
/ - if Rails.env == 'development'
/   = javascript_include_tag 'profiling/yahoo-profiling.min', 'profiling/config'

- if Rails.env == 'production'
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20476309-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
