!!!
%html.no-js{:lang => "en"}
  = render :partial => 'layouts/head'

  -# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
  <!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
  <!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
  <!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
  <!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!-->
  %body
    #container
      #header_container
        #usernav
          - if user_signed_in?
            = "Hola, #{current_user.email}"
            = link_to 'Salir', destroy_user_session_path
          - else
            = link_to 'Crear cuenta', new_user_registration_path
            = link_to 'Acceder', new_user_session_path

        %header#header
          #logo
            = link_to image_tag('logo.png'), root_url


  
          #navigation
            %ul
              %li= link_to 'Inicio', root_url
              %li= link_to 'Código-R', snippets_url
              %li= link_to 'Ofertas de trabajo', job_offers_url
              %li= link_to 'Comunidad', job_offers_url

      #main
        = render :partial => 'layouts/flashes'
        = yield

    %footer#footer
      = render :partial => 'layouts/footer'

    -# Javascript at the bottom for fast page loading
    = render :partial => 'layouts/javascripts'
